<div
  id="experience"
  class="experience-container"
>
  <h1>Experience</h1>

  <Landing::Experience::Unit
    @position="Apprentice Engineer"
    @location="Remote"
    @startFinish="January 2020 - present"
    @company="Starshot Technologies"
    @details="
      Starshot Technologies is a software contracting firm of experts brought in for staff augmentation, application development, and infrastructure build out for an abundance of industries such as Life Sciences, Biotech, Housing Development, AdTech, Fintech and more.
    "
    @bullets={{array
    "Worked directly with clients to make enterprise level software accessible and compliant to the WAG2.1 standard."
    "Developed API using Phoenix with Postgres database that provided persistence layer to Frontend Ember.js application running as a
    PWA and with Fastboot. App also was able to provide push notifications through available APIs for PWAs."
    }}
  />

  <Landing::Experience::Unit
    @position="Owner"
    @location="Remote"
    @startFinish="April 2017 - August 2021"
    @company="RB Engineering"
    @details=""
    @bullets={{array
    "Responsible for $1.5MM across 3 years of sales."
    "Managed the manufacturing and supply of segments of production line equipment."
    "Handled logistics across three continents and 22 U.S. states."
    "Maintained compliance for ROHS, OSHA, and ANSI requirements."
    "Provided stress analysis reports for greater innovation around 100-ton forces."
    "Built a fully electronic management system for blueprints and designs as well for a billing system using Dropbox, Boxcryptor, and
    Backblaze. (Over 20,000 blueprints)"
    }}
  />

  <Landing::Experience::Unit
    @position="Owner"
    @location="Remote"
    @startFinish="May 2015 - present"
    @company="TRBO"
    @details="TRBO (Tobias Robert Brysiewicz Organization) is a computer aid design contract company that helps big and small companies bring their
    concepts to fruition. Primary focuses are commercial airline electronics and musical instrument and equipment concepts. Providing
    electrical diagrams and mechanical blueprints created from  napkin sketches to manufacturable products."
    @bullets={{array
    "Responsible for turning ideas into manufacturable blueprints."
    "Reverse engineering large production line equipment drawings from 1960’s and bringing them up to 2021 specs."
    "Responsible for compliance across ROHS, OSHA, ANSI, and PMA (FAA) specifications."
    }}
  />

  <Landing::Experience::Unit
    @position="Junior Developer"
    @location="Chicago, IL"
    @startFinish="September 2016 - April 2017"
    @company="Kohactive"
    @details="Kohactive is a digital product agency that helps organizations build custom web and mobile applications. Building user-centered custom
    software that enables businesses to innovate and grow."
    @bullets={{array
    "Created WordPress marketing pages from graphic designs accurate to the pixel."
    "Created evergreen APIs and frontend applications for a large variety of markets using Ember.js and Ruby on Rails."
    "Supported legacy software in Backbone."
    "Managed multiple projects in tandem."
    }}
  />

  <Landing::Experience::Unit
    @position="iOS Developer"
    @location="Partially Remote - San Diego, CA"
    @startFinish="January 2016 - July 2016"
    @company="Discrete Units"
    @details="Discrete Units is a software agency hired to bring ideas to life. Versed in marketing and ecommerce pages and capable of developing
    native iOS applications."
    @bullets={{array
    "Developed white label restaurant application for sending orders from a phone to the kitchen using Swift 2 and Cocoa Touch."
    "Integrated with backend POS systems, Clover and Revel to manage Stripe API transactions."
    "Geolocate users and manage a cart for checking out."
    }}
  />
</div>