<div class="portfolio-unit">
  <h2>{{@name}}</h2>
  <h3>{{@tagline}}</h3>
  <img src={{@image}}>
  <p>
    {{@description}}
    Check it out with this
    <a href={{@code}} aria-label="Link To {{@name}}">link</a>
  </p>
</div>