<div class="education-unit">
  <div class="head">
    <span>{{@school}}
      <small>{{@location}}</small>
    </span>
    <span>{{@startFinish}}</span>
  </div>

  <h2>{{@degree}}</h2>

  <p>{{@details}}</p>
</div>