<div class="tbz-navigation border-gradient flex-row">
  <ul>
    <li>
      <LinkTo
        @route="writtings"
        class="tbz-menu-link {{if @writtings 'writtings-nav-link'}}"
      >
        {{#if (media "isMobile")}}
          <i class="fas fa-pen"></i>
        {{else}}
          Writtings
        {{/if}}
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="about"
        class="tbz-menu-link"
      >
        {{#if (media "isMobile")}}
          <i class="fas fa-user-alt"></i>
        {{else}}
          About
        {{/if}}
      </LinkTo>
    </li>
    <li>
      <LinkTo
        @route="contact"
        class="tbz-menu-link"
      >
        {{#if (media "isMobile")}}
          <i class="fas fa-phone"></i>
        {{else}}
          Contact
        {{/if}}
      </LinkTo>
    </li>

      {{#if (media "isMobile")}}

        {{#if this.redirectWrittings}}
          <li>
            <LinkTo @route="writtings" class="tbz-menu-link">
              <i class="fas fa-bars"></i>
            </LinkTo>
          </li>
        {{else}}

          {{#if @showMenu}}
            <li>
              <a href="#" class="tbz-menu-link close-link"
                {{on "click" @openMenu}}
              >
                <i class="fas fa-times"></i>
              </a>
            </li>
          {{else}}
            <li>
              <a href="#" class="tbz-menu-link"
                {{on "click" @openMenu}}
              >
                <i class="fas fa-bars"></i>
              </a>
            </li>
          {{/if}}
        {{/if}}

      {{/if}}
  </ul>

  {{#unless (media "isMobile")}}
    <span class="tbz tbz-font-color">TB</span>
  {{/unless}}
</div>