{{page-title model.attributes.title}}

<div class="tbz-post-container">
  <h1 class="tbz-post-header tbz-header">{{model.attributes.title}}</h1>

  <div class="post__meta tbz-post-info">
    <span>{{model.attributes.date}}</span>
    <span>{{model.attributes.author}}</span>
  </div>

  {{markdown-to-html model.content}}
</div>