{{page-title model.attributes.title}}

<div class="container">
  <h1 class="msg">{{model.attributes.title}}</h1>

  <span class="post__meta">
    <span>{{model.attributes.date}}</span>
    <span>{{model.attributes.author}}</span>
  </span>

  {{markdown-to-html model.content}}
</div>